<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside') %>
    <main>
      <h1><%= restaurantObj.name %></h1>
      <p><%= restaurantObj.cuisine %> | <%= restaurantObj.address %></p>
      <p><%= restaurantObj.description %></p>
      <p><a href="<%= restaurantObj.website %>">View Website</a></p>
    </main>
  </body>
</html>
